.list-spec-mt {
    margin-top: 20px;
}
.list-spec-main {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    align-items: flex-start;
}

.list-spec-block {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.list-spec-mains {
    display: flex;
}

.list-spec-block-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
}

.list-spec-block-main-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #ED502E;
}

.list-spec-block-main-under {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000101;
    margin-bottom: 5px;
}

.mb-star {
    margin-bottom: 10px;
}

.list-spec-block-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.list-spec-block-price-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.list-spec-button {
    font-family: 'Gilroy';
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    padding: 17px 30px 17px 30px;
    border: 1px solid #ED502E;
    border-radius: 6px;
    background: #ED502E;
    cursor: pointer;
    transition: 0.1s;
}

.list-spec-block-price button:hover {
    background: white;
    border: 1px solid #ED502E;
    transition: 0.1s;
    color: #ED502E;
}

.block-list-order-modal button:hover {
    background: white;
    border: 1px solid #ED502E;
    transition: 0.1s;
    color: #ED502E;
}

.list-task-ads {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.list-spec-button:hover {
    transition: 0.1s;
    color: white;
    background-color: #ED502E;
}

.list-spec-input {
    border: 1px solid #BEC0C2;
    border-radius: 7px;
    outline:none;
    padding: 6px 50px 6px 15px;
    width: 30px;
}

.list-spec-input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000101;
    
}

.list-spec-input[type="text"], textarea {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    
}

.between-input {
    margin-left: 5px;
    margin-right: 5px;
    color:#BEC0C2;
}

.list-spec-online {
    display: flex;
    align-items: center;
}

.ml {
    margin-left: 10px;
}

.list-spec-ads-block {
    border-bottom: 1px solid #BEC0C2;
    margin-left: 15px;
    margin-top: 15px;
    width: -webkit-fill-available;
}

.ball-span {
    color: #000;
}

.remove-list {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #F4F4F4;
    border-radius: 7px;
    color: #6C6C6C;
    padding: 11px;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.1s;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-list:hover {
    transition: 0.1s;
    color: #2e2e2e;
}

.img-remove-close {
    margin-top: 2px;
    color: #ff5252;
}

.image-avatar-block {
    max-width: 120px;
    max-height: 120px;
}

.image-avatar {
    border-radius: 10px;
    max-width: -webkit-fill-available;
}

.button-online {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.button-start {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}